@import "variables";

.info {
  margin-bottom: 1rem;

  pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;

    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.content {
  .ok {
    color: $green;
  }

  .nok {
    color: $red;
  }
}

.indicator {
  width: 2rem;

  &.ok {
    background-color: $green;
  }

  &.nok {
    background-color: $red;
  }
}

.results-header {
  align-items: center;

  .actions button {
    vertical-align: middle;
  }
}
