<ng-container
  *ngIf="domain != null"
>
  <div class="basic-header">
    <h3 [textContent]="domain.domainName"></h3>
    <div class="actions">
      <app-action-button
        icon="mbri-plus"
        (clicked)="createRecord()"
      ></app-action-button>
      <app-action-button
        icon="mbri-edit2"
        (clicked)="edit()"
      ></app-action-button>
      <app-action-button
        icon="mbri-trash"
        [buttonStyle]="actionButtonStyles.Danger"
        (clicked)="promptDelete()"
      ></app-action-button>
    </div>
  </div>

  <div class="list">
    <div
      class="list-item"
      *ngFor="let record of domain.watchedRecords"
    >
      <div class="content">
        <strong>
          {{ getHostname(record) }} ({{ record.prettyRecordType }})
        </strong>
        <div>
          <span translate>records.expected-value</span>: {{ record.expectedValue }}
        </div>
        <div>
          <span translate>records.expected-ttl</span>: {{ record.expectedTimeToLive }}
        </div>
        <app-domain-propagation
          [record]="record"
        ></app-domain-propagation>
      </div>
      <div class="actions">
        <app-action-button
          [link]="getRecordDetailsLink(record)"
          icon="mbri-right"
        ></app-action-button>
      </div>
    </div>
  </div>
</ng-container>
