<div class="basic-header">
  <h3 translate>domains.title</h3>
  <div class="actions">
    <app-action-button
      icon="mbri-plus"
      (clicked)="edit()"
    ></app-action-button>
  </div>
</div>

<div class="list">
  <div
    class="list-item"
    *ngFor="let domain of domains"
  >
    <div class="content">
      <div [textContent]="domain.domainName"></div>
    </div>
    <div class="actions">
      <app-action-button
        [link]="getDomainDetailsLink(domain)"
        icon="mbri-right"
      ></app-action-button>
    </div>
  </div>
</div>
