@import "variables";

.actions {
  text-align: right;

  :not(:first-child) {
    margin-left: 0.5rem;
  }

  button {
    margin-bottom: 0;
  }
}

.dialog.danger {
  .button-confirm {
    background-color: $red;
    border-color: $red;

    &:hover {
      background-color: $white;
      border-color: $red;
      color: $red;
    }
  }
}
