<div [classList]="classList">
  <h4 [textContent]="message" translate></h4>
  <p
    class="dialog-content"
    *ngIf="content"
    [textContent]="content"
  ></p>
  <div class="dialog-actions">
    <button
      type="button"
      class="button button-outline button-cancel"
      (click)="cancel()"
      translate
    >
      common.cancel
    </button>

    <button
      type="button"
      class="button button-confirm"
      (click)="confirm()"
      translate
    >
      common.ok
    </button>
  </div>
</div>
