@import "variables";

.dialog.danger {
  .button-confirm {
    background-color: $red;
    border-color: $red;

    &:hover {
      background-color: $white;
      border-color: $red;
      color: $red;
    }
  }
}
