<div class="dialog">
  <div class="dialog-title">
    <h4 translate [textContent]="title"></h4>
  </div>

  <form
    *ngIf="form"
    [formGroup]="form"
    (ngSubmit)="save()"
  >
    <div class="form-group">
      <label
        for="domain-name"
        translate
      >fields.name</label>
      <input
        type="text"
        id="domain-name"
        formControlName="domainName"
        [placeholder]="'domains.edit.placeholders.domain-name' | translate"
      />
    </div>

    <div
      *ngIf="error"
      class="error"
    >
      <p [innerHTML]="error"></p>
    </div>

    <div class="dialog-actions">
      <button
        type="button"
        class="button button-outline button-cancel"
        (click)="cancel()"
        translate
      >
        common.cancel
      </button>

      <button
        type="submit"
        class="button button-confirm"
        [disabled]="!form?.valid"
        translate
      >
        common.save
      </button>
    </div>
  </form>
</div>
