<form
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <div>
    <label
      for="username"
      translate
    >login.username</label>
    <input
      type="email"
      id="username"
      formControlName="username"
    />
  </div>

  <div>
    <label
      for="password"
      translate
    >login.password</label>
    <input
      type="password"
      id="password"
      formControlName="password"
    />
  </div>

  <div>
    <input
      type="checkbox"
      id="remember"
      formControlName="remember"
    />
    <label
      for="remember"
      translate
    >login.remember</label>
  </div>

  <button
    type="submit"
    [disabled]="form?.valid != true"
    translate
  >login.submit</button>
</form>
