<h3 translate>dns-servers.title</h3>

<div class="list">
  <div class="list-item"
    *ngFor="let server of servers"
  >
    <div class="content">
      <strong [textContent]="server.name"></strong>
      <div>
        {{ server.ipAddress }}:{{server.port}}
      </div>
    </div>
    <div class="actions">
      <app-list-item-button
        icon="mbri-edit2"
      ></app-list-item-button>
      <app-list-item-button
        icon="mbri-trash"
        buttonStyle="danger"
      ></app-list-item-button>
    </div>
  </div>
</div>
