@import "variables";
@import "Color";

.error {
  color: $red;
}

.list {
  .list-item {
    border-bottom: $border;
    margin-bottom: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .actions {
      display: flex;
      align-items: center;

      :not(:first-child) {
        margin-left: 0.5rem;
      }
    }
  }
}

.basic-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
