//$color-primary: red;

$text-color: #606c76;
$text-color-light: #bdbebf;

$background: #f4f5f6;
$border-color: #d1d1d1;
$border: .1rem solid $border-color;

$border-radius: 0.4rem;

$header-height: 5.2rem;

$color-primary: #5fa8d3;

$red: #d36c5f;
$red-dark: #b35a50;
$white: #fff;
$green: #6bb38b;
