@import "variables";

.button {
  padding: 0 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $text-color-light;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $text-color-light;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $text-color-light;
}

form {
  margin-bottom: 1rem;
}

.toast-success {
  background-color: $green !important;
}
