@import "variables";

.button {
  font-size: initial;
  margin-bottom: 0;

  &:hover {
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;
  }
}

.default {

}

.danger {
  border-color: $red;
  color: $red;

  &:hover {
    background-color: $red;
    border-color: $red;
    color: white;
  }
}
